<% provide(:title, 'Fleshcards') %>

<body>
<section id="container">

  <header class="clearfix">
    <div class="page-header">
      <h1><%= link_to 'Флэшкарточкер', root_path %> </h1>
    </div>

    <ul class="nav nav-pills nav-justified">
      <li class="active"><%= link_to 'Все карточки', cards_path %></li>
      <li><%= link_to 'Добавить карточку', new_card_path %></li>
    </ul>
  </header>

  <section>
    <div class="well well-lg"><p style="font-size: 22px;"; align="center"; vertical-align="middle">Первый в мире удобный менеджер флеш-карточек. Именно так.</p></div>
  </section>

</section>
</body>