<head>
  <title>Флэшкарточкер</title>
  <link rel="stylesheet" href="application.css">


</head>

<body>
<section id="container">

  <header class="clearfix">
    <div class="page-header">
      <h1>Флэшкарточкер</h1>
    </div>

    <ul class="nav nav-pills nav-justified">
      <li class="active"><a href="#">Все карточки</a></li>
      <li><a href="#">Добавить карточку</a></li>
    </ul>
  </header>

  <section>
    <div class="well well-lg"><p style="font-size: 22px;"; align="center"; vertical-align="middle">Первый в мире удобный менеджер флеш-карточек. Именно так.</p></div>
  </section>

</section>
</body>