<% provide(:title, 'Fleshcards') %>

<body>
<section id="container">

  <section>
    <div class="well well-lg"><p style="font-size: 22px;"; align="center"; vertical-align="middle">Первый в мире удобный менеджер флеш-карточек. Именно так.</p></div>
  </section>

</section>
</body>